@{
    ViewData["Title"] = "Lorem Ipsum";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Number of visitors since launch: @ViewData["VisitorCount"]</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus eveniet, omnis maiores quam, ab nobis incidunt tempora laborum magnam, suscipit placeat accusamus quae? Tempore quisquam minima enim voluptatibus laborum aliquam?</p>
</div>
